* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your code here. */

.bg-container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 40px;
}

.heading-1 {
  color: #cb8805;
  text-align: center;
  font-family: 'Roboto';
  margin: 20px;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
}
